spring:
  data:
    redis:
      host: localhost
      port: 6379
  cache:
    caffeine:
      spec: maximumSize=100,expireAfterWrite=10s
  # 최대 100개 캐시 유지, 10초 후 만료
  # 이것 이외에도 정말 다양한 TTL & Eviction Policy 있으니 다양한 옵션을 알고 싶으면
  # 공식 문서를 참고해주세요!
  datasource:
    url: jdbc:mysql://localhost:3306/nbcam
    username: root
    password: 12345678
    driver-class-name: com.mysql.cj.jdbc.Driver
  jpa:
    show-sql: true
    hibernate:
      ddl-auto: create-drop
    properties:
      hibernate:
        format_sql: true
    defer-datasource-initialization: true

## ???? ??? ???
jwt:
  secret:
    key: fsadfsadflsadjfl123123123123l2kj3l13j2l313l21j3l12jsd


